asgiref==3.7.2
chardet==5.2.0
colorama==0.4.6
distlib==0.3.8
Django==5.0.1
django-cors-headers==4.3.1
djangorestframework==3.14.0
filelock==3.13.1
mysqlclient==2.2.1
pillow==10.2.0
platformdirs==4.1.0
pypng==0.20220715.0
pytz==2023.3.post1
qrcode==7.4.2
reportlab==4.0.9
sqlparse==0.4.4
typing_extensions==4.9.0
tzdata==2023.4
virtualenv==20.25.0
webencodings==0.5.1
